.main {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.videoContainer {
  width: "70%";
  position: relative;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}
.controler {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  box-sizing: border-box;
  color: white;
  width: 80%;
}
.controler button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
