body {
  background-image: radial-gradient(circle at top right, #8b5ea9, black);
  display: grid;
  height: 100vh;
  place-items: center;
}

figure {
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  position: relative;
}

video {
  display: block;
  width: 100%;
}

figcaption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 50px);
  align-items: center;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 50px auto min(115px) 50px 50px 50px;
  padding: 5px;
  backdrop-filter: blur(100px); /* Adjust the blur radius as needed */
  background-color: rgba(0, 0, 0, 0.2); /* Transparent white background */
  transition: all 0.3s ease-out;
}

label {
  text-align: center;
  color: white;
  font-size: 14px;
}
